/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/python_project/kedro-introduction-tutorial-master/venv2
/python_project/kedro-introduction-tutorial-master/sub_projects/Breast_Tumor_Segmentation/venv
/python_project/kedro-introduction-tutorial-master/sub_projects/Swin_Transformer_Object_Detection_master/venv
